defaults:
  - _self_
  - task@_global_: quadruped_walk
  - override hydra/launcher: submitit_local

# task settings
frame_stack: 3
action_repeat: 2
discount: 0.99
# train settings
num_seed_frames: 4000
num_expl_steps: 2000
# eval
eval_every_frames: 10000
num_eval_episodes: 10
# snapshot
save_snapshot: false
# replay buffer
replay_buffer_size: 1000000
replay_buffer_num_workers: 4
nstep: 3
batch_size: 256
# misc
seed: 1
device: cuda
save_video: false
save_train_video: false
use_tb: true
# experiment
experiment: exp
# agent
lr: 1e-4
feature_dim: 50
# save model
save_model: false
save_every_frames: 50000
# load model trained with larger action repeat
load_model: none
load_folder: none
test_model: false

##### augmentation
# image transformation
aug_K: 1
# data augmentation type
aug_type: 1
# KL regularization in actor training
add_KL_loss: false
# tangent prop
tangent_prop: false

# dynamics model
train_dynamics_model: 0
# temporal ssl
time_ssl_K: 0
time_ssl_weight: 0.1
# dynamics prior
dyn_prior_K: 0
dyn_prior_weight: 0.1
state_dim: 0


agent:
  _target_: drqv2.DrQV2Agent
  obs_shape: ??? # to be specified later
  action_shape: ??? # to be specified later
  work_dir: ??? # to be specified later
  device: ${device}
  lr: ${lr}
  critic_target_tau: 0.01
  update_every_steps: 2
  use_tb: ${use_tb}
  num_expl_steps: ${num_expl_steps}
  hidden_dim: 1024
  feature_dim: ${feature_dim}
  stddev_schedule: ${stddev_schedule}
  stddev_clip: 0.3
  aug_K: ${aug_K}
  aug_type: ${aug_type}
  add_KL_loss: ${add_KL_loss}
  tangent_prop: ${tangent_prop}
  train_dynamics_model: ${train_dynamics_model}
  load_model: ${load_model}
  load_folder: ${load_folder}
  task_name: ${task_name}
  test_model: ${test_model}
  seed: ${seed}
  time_ssl_K : ${time_ssl_K}
  time_ssl_weight : ${time_ssl_weight}
  dyn_prior_K: ${dyn_prior_K}
  dyn_prior_weight : ${dyn_prior_weight}
  state_dim: ${state_dim}


hydra:
  run:
    dir: ./exp_local/${now:%Y.%m.%d}/${now:%H%M%S}_${hydra.job.override_dirname}
  sweep:
    dir: ./exp/${now:%Y.%m.%d}/${now:%H%M}_${agent_cfg.experiment}
    subdir: ${hydra.job.num}
  launcher:
    timeout_min: 4300
    cpus_per_task: 10
    gpus_per_node: 1
    tasks_per_node: 1
    mem_gb: 160
    nodes: 1
    submitit_folder: ./exp/${now:%Y.%m.%d}/${now:%H%M%S}_${agent_cfg.experiment}/.slurm
